<div class="aboutMe" >

    <p>
      Hello! Thank you for taking the time to visit my page. I am a fullstack web developer, Level 2 Usui Reiki practicioner, and a collectible coin dealer. I strated my journey to web development through a techinal school called General Assembly. There I took their full time 12 week web development immersive course. I studied HTML, CSS, Javascript, Ruby, Sinatra, Postgresql, MongoDB, React, and more. Today I continue my studies learning technologies such as Angular, and Ruby on Rails.  
    </p>
    <p>
      
    </p>
</div>