<div class="projects">
      <p>The first project I built here at GA is the classic arcade game pong</p>
      <p>The second project I built while at GA is a reddit like blog. The catch being a user needs a certain amount of votes to be able to access "higher" levels of the conversation. The point is to weed out 'trolls' and allow people who are seriously interested in the topic have a legitmate conversation. </p>
      <p>My third project built at GA was a geocache app. The user can go to our site and build their own geocache hunt. The user will be allowed to set the paramters of the hunt with our built in maps feature. They will then be able to choose how many hints they want the hunt to contain.</p>
      <p>My fourth project is website for my coin business. The idea is to grow a community of people who have love for the hobby. The three facest of the website are the store, the forum, and the knowledge section of the site.</p>
    </div>