<div class="projects">
  <div class="project">
    <h3>Click on the images to see the code on github</h3>
    <h2>Pong:</h2>
    <a href="https://www.github.com/ethan375/pong">
      <img src="../images/pong.png">
    </a>
    <p>This is the classic arcade game pong rebuilt using modern web technologies such as: HTML5, Canvas, and Javascript</p>
  </div>
  <hr>
  <div class="project">
    <h2>Deepr</h2>
    <a href="https://github.com/ethan375/Deepr">
      <img src="../images/deepr.png">
    </a>
    <p>For my second project at General Assembly I built a reddit like website where users can create post and then vote up or down on other user's posts.</p>
  </div>
  <hr>
  <div class="project">
    <h2>Ebel's Traveling Coins</h2>
    <a href="https://github.com/ethan375/Ebels-coins-front-end">
      <img src="../images/ebel-coins.png">
    </a>
    <p>I built this website to serve as the website for my collectible coin business. It features ebay search functionality, a forum section, and a collectible coin API where users can learn about the rich history of U.S coins.</p>
  </div>

 <!--  <div class="project">
    <a href="https://github.com/ethan375/suitcasemusik"></a>
    <p>this is going to be a description for the suitcase musik website somewhere and somehow you know what im saying!!!!</p>
  </div> -->
</div>