    <div class="skills">
      <h2>Web Development:</h2>
      <span>
        <img class="skillpics" src="https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg"> 
        <p>Ruby</p>
      </span>

      <span>
        <img class="skillpics" src="https://st.depositphotos.com/1796420/4113/v/950/depositphotos_41138921-stock-illustration-vector-icon-of-orange-javascript.jpg"> 
        <p>Javascript</p>
      </span>

      <span>
        <img class="skillpics" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg"> 
        <p>HTML 5</p>
      </span>

      <span>
        <img class="skillpics" src="http://notwebsafe.com/presos/web-hipster/images/CSS3_Logo.png"> 
        <p>CSS 3</p>
      </span>

      <span>
        <img class="skillpics" src="./images/jquery.png"> 
        <p>JQuery</p>
      </span>

      <span>
        <img class="skillpics" src="./images/mongodb.png"> 
        <p>MongoDB</p>
      </span>

      <span>
        <img class="skillpics" src="./images/sinatra.svg">
        <p>Sinatra</p>
      </span>

      <hr>

      <h2>Reiki:</h2>
      <span>
        <p>I am an aspiring master teacher, currently a level 2 reiki practicioner under the usui system of teaching. </p>
        <img src="../images/reiki-cert.jpg">
      </span>

      <hr>

      <h2>Ebel's Traveling Coins:</h2>
      <span>
        <p>I have been an avid coin collector and enthusiast since I was a child. Today I am using my years of experience as a collector to deliver the best possibile coin buying experience. You can visit my Ebay store <a href="https://www.ebay.com/usr/ebelstravelingcoins">Here</a>
      </span>



    </div>