    <div class="skills">
      <h2>Experience:</h2>
      <span>
        <img class="skillpics" src="https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg"> 
        <p>Ruby</p>
      </span>

      <span>
        <img class="skillpics" src="https://st.depositphotos.com/1796420/4113/v/950/depositphotos_41138921-stock-illustration-vector-icon-of-orange-javascript.jpg"> 
        <p>Javascript</p>
      </span>

      <span>
        <img class="skillpics" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg"> 
        <p>HTML 5</p>
      </span>

      <span>
        <img class="skillpics" src="http://notwebsafe.com/presos/web-hipster/images/CSS3_Logo.png"> 
        <p>CSS 3</p>
      </span>

      <span>
        <img class="skillpics" src="./images/jquery.png"> 
        <p>JQuery</p>
      </span>

      <span>
        <img class="skillpics" src="./images/mongodb.png"> 
        <p>MongoDB</p>
      </span>

      <span>
        <img class="skillpics" src="./images/sinatra.svg">
        <p>Sinatra</p>
      </span>


    </div>